@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.formulario {
    margin-top: 5rem;
    width: 100%;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    flex-direction: column;
    
    @include m.tablet {
        flex-direction: row;
    }
    
    label {
        
        margin-bottom: 1rem;
        
        @include m.tablet {
            margin-bottom: 0;
            flex: 0 0 10rem;
        }
    }
    
    input,
    select {
        flex: 1;
        border: none;
        padding: calc(v.$separacion / 4);
        border-radius: 1rem;
        width: 100%;
        
        &:disabled {
            background-color: color.adjust(v.$gris-oscuro, $lightness: 40%);
            color: v.$blanco;
            cursor: not-allowed;
        }

        &:active,
        &:focus {
            outline: none;
            border: .23rem solid v.$azul;
        }
    }

    input#nombre {
        text-transform: capitalize;
    }

    select {
        appearance: none;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23999' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: right 1.5rem center;
        background-size: 1.2rem auto;
        padding-right: 3rem;
    }
}