@use 'base/variables' as v;
@use 'base/mixins' as m;

.logout-icon {
    margin-right: .5rem;
    color: v.$blanco;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    i {
        color: v.$blanco;
        

    }

    &:hover {
        cursor: pointer;
        color: v.$rojo;
        transform: scale(1.05);
        i {
            color: v.$rojo;
            transition: color .4s ease-in-out;
        }
        transition: color .4s ease-in-out;
    }
}