@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.dashboard {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: v.$gris-claro;

    &__header {
        background-color: v.$gris-oscuro;
        padding: 2rem;
        flex-shrink: 0;
    }

    &__header-flex {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__logo {
        color: v.$blanco !important;
        @include m.logo;
        &{@include m.texto-fluido(2rem, 3rem);}
    }

    &__grid {
        display: flex;
        flex: 1;
        overflow: hidden;
    }

    &__sidebar {
        background-color: color.adjust(v.$gris-oscuro, $lightness: 10%,);
        width: 10rem;
        flex-shrink: 0; // Evita que el sidebar se achique
        overflow-y: auto; // Permite scroll en el sidebar si es necesario
    }

    &__menu {
        padding: .5rem .2rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__enlace {
        color: color.adjust(v.$gris-medio, $lightness: 40%,);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        text-align: center;
        padding: 1rem;
        transition: .3s background-color ease-in-out, .3s color ease, .3s border-radius ease, scale .3s ease-in-out;

        &:hover,
        &--activo {
            background-color: color.adjust(v.$gris-oscuro, $lightness: 20%,);
            color: v.$blanco;
            border-radius: .7rem;
            scale: 1.05;
        }
    }

    &__menu-texto {
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: v.$bold;
    }

    &__contenido {
        width: 100%;
        padding: 1rem 1rem 3rem 1rem;
        flex-grow: 1; 
        overflow-y: auto;

        @include m.tablet {
            padding: 1rem 3.5rem 3rem 3.5rem;
            &::-webkit-scrollbar {
                width: 1rem;
            }
        }
    }

    &__contenedor-boton {
        @include m.tablet {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 2rem;
        }
    }

    &__boton {
        @include m.botonAdmin(v.$azul-oscuro, v.$blanco);
        text-transform: uppercase;
        font-size: 1.4rem;
        @include m.tablet {
            width: auto;
        }
    }

    &__contenedor {
        @include m.shadow;
        background-color: v.$blanco;
        padding: 2rem;
        border-radius: 1rem;
    }

    &__formulario {
        @extend .dashboard__contenedor;
        @include m.contenedor-md;
    }
}