@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.contenedor-app {
    @include m.tablet {
        @include m.grid(2);
        min-height: 100vh;
    }

    .imagen {
        background-image: url(../img/1.webp);
        height: 22rem;
        background-position: center center;
        background-size: cover;
        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        @include m.tablet {
            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

.barra {
    margin: v.$separacion 0;
    text-align: center;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .logout-icon {
        margin-right: .5rem;
        i {
            color: v.$blanco;
            transition: color .4s ease-in-out;

            &:hover {
                cursor: pointer;
                color: v.$rojo;
                transform: scale(1.05);
            }
        }
    }
}