@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'sass:color';

.contenedor-app {
    @include m.tablet {
        @include m.grid(2);
        min-height: 100vh;
    }

    .imagen {
        background-image: url(../img/2.webp);
        height: 22rem;
        background-position: center center;
        background-size: cover;
        position: relative;
        @include m.tablet {
            height: auto;
        }
        &::before {
            content: "Salón de Belleza LIZMAR";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.2); // Overlay semitransparente
            color: v.$blanco;
            padding: 1rem;
            font-size: 2.5rem;
            font-weight: v.$black;
            text-align: center;
            font-style: italic;
            @include m.tablet {
                bottom: 0;
                top: initial;
                font-size: 3.5rem;
            }
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        @include m.tablet {
            overflow: scroll;

            &::-webkit-scrollbar {
                display: none;
                width: 0;
            }
        }
    }
}

.barra {
    margin: v.$separacion 0;
    text-align: center;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
}